<ion-header>
  <ion-toolbar>
    <ion-title>支付成功</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="medium"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="success">
    <ion-icon name="checkmark-circle-outline" color="primary"></ion-icon>
    <ion-text>
      <h1 style="margin-bottom: 20px">支付成功</h1>
    </ion-text>
    <ion-text *ngIf="order">
      <h5 style="margin-bottom: 20px">订单金额：{{order.actuallyPaid | currency: 'CNY':'symbol-narrow'}}</h5>
    </ion-text>
    <ion-button *ngIf="order" color="primary" fill="outline" class="rounded" [routerLink]="['/orders',order.orderId]">
      查看订单
    </ion-button>
  </div>
</ion-content>