ion-card {
  margin: 20px;
  ion-card-content {
    padding: 0 var(--ion-padding);
    background: #ffffff;
  }
}

ion-list {
  margin: 0;
}

.product {
  .product-image {
    img.thumbnail {
      width: 80px;
      height: 80px;
    }
  }
  .product-block {
    min-height: 100px;
  }
}
