<ion-header>
  <ion-toolbar>
    <ion-title>我的饮食记录</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="medium"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher pullFactor="0.5" closeDuration="200ms" snapbackDuration="50ms" pullMax="400"
    (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>
  <ion-grid class="ion-margin-top ion-padding-start ion-padding-end">
    <ion-row class="ion-padding-start ion-padding-end">
      <ion-col>
        <ion-list *ngIf="records" class="ion-padding-bottom">
          <ion-item>
            <div class="date" slot="start">
              <ion-text>
                <h3 class="ion-margin-end">今天</h3>
                <p class="ion-padding-end"></p>
              </ion-text>
            </div>
            <label for="file-upload" class="custom-file-upload ion-margin-vertical ion-margin-end">
              <img
                src="https://r08872-dw-dev.oss-cn-zhangjiakou.aliyuncs.com/8720f0de17ed492796c560ec485e179e.png?x-oss-process=image/resize,m_fill,h_56,w_56">
            </label>
            <input #file id="file-upload" type="file" accept="image/*" multiple (change)="preview($event)" />
          </ion-item>
          <ion-item *ngFor="let record of records">
            <div class="date" slot="start">
              <ion-text>
                <h3>{{record.day | date:'d'}}</h3>
                <p>{{record.day | date:'M'}}月</p>
              </ion-text>
            </div>
            <ion-thumbnail class="ion-margin-vertical ion-margin-end">
              <img [src]="record.imgs[0]+'?x-oss-process=image/resize,m_fill,h_56,w_56'">
            </ion-thumbnail>
            <ion-label>
              <h3>{{record.intro}}</h3>
              <p>共 {{record.imgs.length}} 张</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="正在加载更多...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>