<ion-header>
  <ion-toolbar>
    <ion-title (click)="onRefreshHeight()">我的订单</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="medium" defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ul>
    <li [ngClass]="{active: activeSlideId===0}"><a (click)="onNavTab(0)">全部</a></li>
    <li [ngClass]="{active: activeSlideId===1}"><a (click)="onNavTab(1)">待付款</a></li>
    <li [ngClass]="{active: activeSlideId===2}"><a (click)="onNavTab(2)">待发货</a></li>
    <li [ngClass]="{active: activeSlideId===3}"><a (click)="onNavTab(3)">待收货</a></li>
    <li [ngClass]="{active: activeSlideId===4}"><a (click)="onNavTab(4)">已完成</a></li>
  </ul>
</ion-header>

<ion-content #scrollable>
  <ion-refresher pullFactor="0.5" closeDuration="200ms" snapbackDuration="50ms" pullMax="400"
    (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>
  <ion-slides #slides [options]="slideOpts" (ionSlideWillChange)="onIonSlideWillChange($event)">
    <ion-slide>
      <app-order-list [orders]="orders"></app-order-list>
    </ion-slide>
    <ion-slide>
      <app-order-list [orders]="ordersToPay"></app-order-list>
    </ion-slide>
    <ion-slide>
      <app-order-list [orders]="ordersUnshipped"></app-order-list>
    </ion-slide>
    <ion-slide>
      <app-order-list [orders]="ordersShipped"></app-order-list>
    </ion-slide>
    <ion-slide>
      <app-order-list [orders]="ordersDone"></app-order-list>
    </ion-slide>
  </ion-slides>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="正在加载更多...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>