ion-content {
  --background: #f2f2f2;
}

ion-grid {
  background: #ffffff;
}

// .swiper-slide {
//   display: block;
//   // min-height: 100%;
// }

ul {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  border-top: 1px solid var(--ion-color-light);
  li {
    min-width: 60px;
    font-size: 14px;
    padding: 10px 0;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--ion-color-dark);
    }
    &.active {
      background: #ffffff;
      box-shadow: inset 0 -2px 0 0 var(--ion-color-primary);
      a {
        color: var(--ion-color-primary);
      }
    }
  }
}
