<ion-header>
  <ion-toolbar>
    <ion-title (click)="onRefreshHeight()">我的订单</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="medium" defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ul>
    <li [ngClass]="{active: activeSlideId===0}"><a (click)="onNavTab(0)">全部</a></li>
    <li [ngClass]="{active: activeSlideId===1}"><a (click)="onNavTab(1)">待付款</a></li>
    <li [ngClass]="{active: activeSlideId===2}"><a (click)="onNavTab(2)">待发货</a></li>
    <li [ngClass]="{active: activeSlideId===3}"><a (click)="onNavTab(3)">待收货</a></li>
    <li [ngClass]="{active: activeSlideId===4}"><a (click)="onNavTab(4)">已完成</a></li>
  </ul>
</ion-header>

<ion-content #scrollable>
  <ion-refresher pullFactor="0.5" closeDuration="200ms" snapbackDuration="50ms" pullMax="400"
    (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>
  <ion-grid *ngIf="!orders">
    <ion-row>
      <ion-col>
        <ion-card *ngFor="let order of [1,2,3,4,5]">
          <ion-item lines="none">
            <ion-label>
              <h6>
                <ion-skeleton-text animated></ion-skeleton-text>
              </h6>
            </ion-label>
            <ion-text slot="end" color="primary" text-right>
              <p>
                <ion-skeleton-text animated></ion-skeleton-text>
              </p>
            </ion-text>
          </ion-item>
          <ion-card-content>
            <ion-list>
              <ion-item class="product" lines="none" detail="false">
                <div slot="start" class="ion-margin-end product-image">
                  <ion-skeleton-text animated style="height: 68px; width:68px;"></ion-skeleton-text>
                </div>
                <ion-label>
                  <ion-text>
                    <h5>
                      <ion-skeleton-text animated style="height: 27px"></ion-skeleton-text>
                    </h5>
                    <p>
                      <ion-skeleton-text animated style="height: 14px; margin-top: 10px"></ion-skeleton-text>
                    </p>
                  </ion-text>
                </ion-label>
              </ion-item>
            </ion-list>
            <ion-grid text-right>
              <ion-row>
                <ion-col class="ion-padding-horizontal ion-padding-top">
                  <ion-text>
                    <p>
                      <ion-skeleton-text animated></ion-skeleton-text>
                    </p>
                  </ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-padding">
                  <ion-skeleton-text animated width="60px"></ion-skeleton-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-slides *ngIf="orders && ordersToPay && ordersPaid && ordersShipped && ordersDone" #slides [options]="slideOpts"
    (ionSlideWillChange)="onIonSlideWillChange($event)">
    <ion-slide [ngClass]="{'empty-slide': !orders || orders.length === 0}">
      <app-order-list [orders]="orders"></app-order-list>
    </ion-slide>
    <ion-slide [ngClass]="{'empty-slide': !ordersToPay || ordersToPay.length === 0}">
      <app-order-list [orders]="ordersToPay" [orderStatus]="OrderStatus.TO_PAY"></app-order-list>
    </ion-slide>
    <ion-slide [ngClass]="{'empty-slide': !ordersPaid || ordersPaid.length === 0}">
      <app-order-list [orders]="ordersPaid" [orderStatus]="OrderStatus.PAID"></app-order-list>
    </ion-slide>
    <ion-slide [ngClass]="{'empty-slide': !ordersShipped || ordersShipped.length === 0}">
      <app-order-list [orders]="ordersShipped" [orderStatus]="OrderStatus.SHIPPED"></app-order-list>
    </ion-slide>
    <ion-slide [ngClass]="{'empty-slide': !ordersDone || ordersDone.length === 0}">
      <app-order-list [orders]="ordersDone" [orderStatus]="OrderStatus.THXGOD"></app-order-list>
    </ion-slide>
  </ion-slides>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="正在加载更多...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>