ion-content {
  --background: #f2f2f2;
}

ion-grid {
  background: #ffffff;
}

ul {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  border-top: 1px solid var(--ion-color-light);
  li {
    min-width: 60px;
    font-size: 14px;
    padding: 10px 0;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--ion-color-dark);
    }
    &.active {
      background: #ffffff;
      box-shadow: inset 0 -2px 0 0 var(--ion-color-primary);
      a {
        color: var(--ion-color-primary);
      }
    }
  }
}

ion-card {
  margin: 20px;
  ion-card-content {
    padding: 0 var(--ion-padding);
    background: #ffffff;
  }
}

ion-list {
  margin: 0;
}

.product {
  --padding-start: 0px;
  .product-image {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img.thumbnail {
      margin: 0;
      width: 108px;
      height: 108px;
    }
  }
  .product-block {
    font-size: 14px;
    min-height: 132px;
    .product-price-amount-wrapper {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      .product-price {
        font-size: 16px;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      .product-amount {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &.title {
          justify-content: flex-start;
        }
        ion-icon {
          font-size: 20px;
        }
        ion-input {
          --background: var(--ion-color-light);
          --padding-top: 5px;
          --padding-bottom: 5px;
          --padding-start: 5px;
          --padding-end: 5px;
          border-radius: 5px;
        }
      }
    }
  }
}
