<ion-header>
  <ion-toolbar>
    <ion-title>升级充值</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="medium" defaultHref="/finance/balance"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="custom-card">
    <div class="custom-card-content"> -->
  <ion-list>
    <ion-item lines="full">
      <ion-label color="dark">代理级别</ion-label>
      <ion-label color="dark" slot="end" text-right>SSVIP</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="dark">充值金额</ion-label>
      <ion-label color="dark" slot="end" text-right>{{68000 | currency: 'CNY':'symbol-narrow'}}</ion-label>
    </ion-item>
  </ion-list>
  <!-- </div>
  </div> -->
  <ion-button expand="block" color="primary">去充值</ion-button>

</ion-content>