ion-content {
  --background: #f2f2f2;
  ion-grid {
    background: #ffffff;
  }
}
ion-list {
  margin: 0;
  ion-item {
    --min-height: 60px;
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    ion-label {
      min-width: 86px;
    }
  }
}

ion-picker-column {
  width: 33%;
}
.picker-col {
  width: 33%;
}
