<ion-tabs>
  <ion-tab-bar slot="bottom" [ngStyle]="{'display': uiStateService.getTabBarHidden()?'none':'flex'}">
    <ion-tab-button tab="home">
      <ion-label>首页</ion-label>
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="categories">
      <ion-label>分类</ion-label>
      <ion-icon name="list"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="cart">
      <ion-label>购物车</ion-label>
      <ion-icon name="cart"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-label>我的</ion-label>
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>