<ion-header>
  <ion-toolbar>
    <ion-title>购物车</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="dark" (click)="editMode = !editMode">{{editMode?'完成':'编辑'}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="custom-card" *ngIf="cart && cart.items.length>0">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list class="ion-padding">
            <ion-item-sliding *ngFor="let item of cart.items; index as i">
              <ion-item class="product" detail="false">
                <div slot="start" class="ion-margin-end product-image">
                  <div class="custom-radios ion-margin-end">
                    <div>
                      <input type="checkbox" [id]="item.goodsId+'-'+item.specificationId+'-'+item.warehouseId"
                        [checked]="item.checked" (change)="onSelectForPurchase(item,$event)" class="primary">
                      <label [for]="item.goodsId+'-'+item.specificationId+'-'+item.warehouseId">
                        <span>
                          <div></div>
                          <img src="../../assets/icon/check-icn.svg" alt="Checked Icon" />
                        </span>
                      </label>
                    </div>
                  </div>
                  <img class="thumbnail" [routerLink]="['/product', item.goodsId]"
                    [src]="item.goodsImg+'?x-oss-process=image/resize,m_pad,h_100,w_100,color_FFFFFF'">
                </div>
                <ion-grid>
                  <ion-row>
                    <ion-col class="ion-padding-top ion-padding-bottom product-block">
                      <div class="product-title box-2lines-ellipsis" [routerLink]="['/product', item.goodsId]">
                        <div>
                          <article>{{item.goodsName}}</article>
                        </div>
                      </div>
                      <div class="product-info">
                        <ion-text color="medium">
                          <p>{{item.goodsSpecificationDesc}}/{{item.goodsWarehouseDesc}}</p>
                        </ion-text>
                      </div>
                      <div class="product-price-amount-wrapper">
                        <div class="product-price">
                          <ion-text color="primary">
                            <p>{{item.realGoodsPrice | currency: 'CNY':'symbol-narrow'}}</p>
                          </ion-text>
                        </div>
                        <div class="product-amount">
                          <ion-icon name="remove" class="ion-padding-end" (click)="onReduceQuantity(item)"></ion-icon>
                          <ion-input text-center [value]="item.number"></ion-input>
                          <ion-icon name="add" class="ion-padding-start" (click)="onAddQuantity(item)"></ion-icon>
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item-options side="end">
                <ion-item-option color="primary" (click)="onDeleteItems(item)">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="!cart || cart.items.length === 0" class="empty-content">
    <ion-text color="medium">
      <p class="ion-margin ion-padding-horizontal">购物车还空空如也呢，快去选择心仪的商品吧！</p>
    </ion-text>
  </div>
</ion-content>

<ion-footer *ngIf="editMode">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size=8>
          <ion-grid>
            <ion-row>
              <ion-col class="select" size=6>
                <div class="custom-radios">
                  <div>
                    <input type="checkbox" id="selectall" class="primary" [checked]="selectAllChecked"
                      (change)="onSelectAllForEdit($event)">
                    <label for="selectall">
                      <span>
                        <div></div>
                        <img src="../../assets/icon/check-icn.svg" alt="Checked Icon" />
                      </span>
                    </label>
                  </div>
                </div>
                <ion-text color="dark" class="ion-margin-start">全选</ion-text>
              </ion-col>
              <ion-col class="total" size=6>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col class="purchase" size=4 (click)="onDeleteItems()">
          <ion-text color="light">删除</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

<ion-footer *ngIf="!editMode">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size=8>
          <ion-grid>
            <ion-row>
              <ion-col class="select" size=6>
                <div class="custom-radios">
                  <div>
                    <input type="checkbox" id="selectall" class="primary" [checked]="selectAllChecked"
                      (change)="onSelectAllForPurchase($event)">
                    <label for="selectall">
                      <span>
                        <div></div>
                        <img src="../../assets/icon/check-icn.svg" alt="Checked Icon" />
                      </span>
                    </label>
                  </div>
                </div>
                <ion-text color="dark" class="ion-margin-start">全选</ion-text>
              </ion-col>
              <ion-col class="total" size=6>
                <ion-text color="primary">合计：{{price | currency: 'CNY':'symbol-narrow'}}</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col class="purchase" size=4 (click)="onCreateOrder()">
          <ion-text color="light">去结算 ({{quantity}})</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>