ion-content {
  --background: #f2f2f2;
}

ion-item {
  --padding-start: 0px;
}

ion-card {
  margin: var(--ion-margin);
}

ion-checkbox {
  width: 40px;
}

.product {
  .product-image {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img.thumbnail {
      margin: 0;
      width: 108px;
      height: 108px;
    }
  }
  .product-block {
    // height: 128px;
    // ion-label {
    //   height: 108px;
    //   margin: 0;
    // }
    font-size: 14px;
    .product-price-amount-wrapper {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      .product-price {
        font-size: 16px;
        flex-grow: 1; 
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      .product-amount {
        width: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        &.title {
          justify-content: flex-start;
        }
        ion-icon {
          font-size: 20px;
        }
        ion-input {
          --background: var(--ion-color-light);
          --padding-top: 5px;
          --padding-bottom: 5px;
          --padding-start: 5px;
          --padding-end: 5px;
          border-radius: 5px;
        }
      }
    }
  }
}

ion-footer {
  ion-toolbar {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
  }
  ion-col {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.select {
      padding: 0 0 0 20px;
      justify-content: flex-start;
      background: #ffffff;
    }
    &.total {
      padding: 0 20px 0 0;
      justify-content: flex-end;
      background: #ffffff;
    }
    &.purchase {
      background: var(--ion-color-primary);
    }
  }
}
