ion-content {
  --background: #f4f4f4;
}

ion-item {
  --padding-start: 0px;
}

.product {
  --padding-start: 0px;
  .product-image {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img.thumbnail {
      margin: 0;
      width: 100px;
      height: 100px;
    }
  }
  .product-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 14px;
    min-height: 120px;
    .product-info {
      flex-grow: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      ion-badge {
        font-size: 11px;
      }
    }
    .product-price-amount-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: flex-start;
      .product-price {
        h5 {
          font-size: 16px;
        }
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      .product-amount {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &.title {
          justify-content: flex-start;
        }
        ion-icon {
          font-size: 20px;
        }
        ion-input {
          --background: var(--ion-color-light);
          --padding-top: 5px;
          --padding-bottom: 5px;
          --padding-start: 5px;
          --padding-end: 5px;
          border-radius: 5px;
        }
      }
    }
  }
}
