<ion-header>
  <ion-toolbar>
    <ion-title>打卡</ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" size="small" (click)="onDismiss()">取消</ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="dark" size="small" (click)="onSubmit()">发布</ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin-top">
    <ion-row>
      <ion-col class="ion-padding-horizontal">
        <ion-textarea placeholder="这一刻的想法..." [(ngModel)]="intro"></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-start" *ngIf="base64Files">
      <ion-col class="gallery">
        <ion-thumbnail *ngFor="let imgUrl of base64Files">
          <img [src]="imgUrl">
        </ion-thumbnail>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>