<ion-header>
  <ion-toolbar class="ion-no-padding">
    <form action=".">
      <ion-searchbar #searchbar placeholder="输入你正在找的宝贝" searchIcon="../../assets/icon/search.svg" type="search"
        (search)="onSearch($event)"></ion-searchbar>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin-start">
  <ion-grid class="container ion-no-padding">
    <ion-row>
      <ion-col size=3 class="category-nav ion-no-padding">
        <ion-content scrollX="true">
          <div>
            <ul>
              <li [ngClass]="{active: selectedRootCategoryId===category.id}" *ngFor="let category of rootCategories"><a
                  (click)="onNav(category.id)">{{category.name}}</a></li>
            </ul>
          </div>
        </ion-content>
      </ion-col>
      <ion-col size=9>
        <ion-content scrollX="true">
          <ion-grid class="ion-padding-top ion-padding-start">
            <ion-row>
              <ion-col class="ion-padding-end">
                <ion-img src="../../assets/images/categories_header.jpg"></ion-img>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid *ngFor="let category of detailCategories">
            <ion-row class="ion-padding-start">
              <ion-col class="ion-padding-top ion-padding-bottom">
                <ion-text color="dark">
                  <p class="detail-title ion-padding-start">{{category.name}}</p>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="category.subCategories" class="category-grid-row ion-padding-start">
              <ion-col *ngFor="let item of category.subCategories.content" size=4 class="ion-padding-end"
                [routerLink]="['/search/result']" [queryParams]="{categoryId: item.id}">
                <img [src]="item.headImg+'?x-oss-process=image/resize,m_pad,h_100,w_100,color_FFFFFF'">
                <ion-text class="ion-padding-top ion-padding-bottom category-label">{{item.name}}</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>