// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.
// ion-app.platform-ios12 ion-content {
//   pointer-events: auto;
// }
ion-input.primary {
  --padding-bottom: var(--ion-padding);
  --padding-top: var(--ion-padding);
}
ion-button {
  --border-radius: 5px;
}
