<ion-header>
  <ion-toolbar>
    <ion-title>打卡排行榜</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="medium"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher pullFactor="0.5" closeDuration="200ms" snapbackDuration="50ms" pullMax="400"
    (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>
  <ion-grid class="ion-margin-top ion-padding-start ion-padding-end" *ngIf="ranks">
    <ion-row class="ion-padding-start ion-padding-end">
      <ion-col>
        <ion-list class="ion-padding-bottom">
          <ion-item lines="full" *ngFor="let rank of ranks; index as i">
            <div class="avatar ion-padding-vertical" slot="start">
              <ion-text>{{i+1}}</ion-text>
              <ion-avatar>
                <img [src]="rank.headImg+'?x-oss-process=image/resize,m_fill,h_108,w_108'">
              </ion-avatar>
            </div>
            <ion-label>{{rank.nickname}}</ion-label>
            <ion-label color="secondary" slot="end" text-right>
              持续 {{rank.count}} 天
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="正在加载更多...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>