<div class="inner-content">
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size=3>
        <img [src]="product.headImg+'?x-oss-process=image/resize,m_fill,h_108,w_108'">
      </ion-col>
      <ion-col class="product-info ion-padding-top" size=8>
        <ion-text color="primary">
          <h5>{{product.price | currency: 'CNY':'symbol-narrow'}}</h5>
        </ion-text>
        <ion-text color="dark">
          <p>库存 3500 件</p>
          <p>已选择 丝绒水润白泥面膜 杭州仓</p>
        </ion-text>
      </ion-col>
      <ion-col size=1 text-right>
        <ion-icon class="close" name="close" (click)="onDismiss()"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding-start ion-padding-end ion-padding-top">
        <ion-text color="dark">
          <p>请选择商品规格</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding-start ion-padding-end ion-padding-top">
        <ion-button *ngFor="let spec of product.specifications" (click)="onSelectSpec(spec.id)" size="small"
          [color]="(spec.id === selectedSpecId) ? 'secondary' : 'light'" class="rounded ion-margin-end">
          {{spec.name}}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding-start ion-padding-end ion-padding-top">
        <ion-text color="dark">
          <p>请选择发货仓库</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding-start ion-padding-end ion-padding-top">
        <ion-button *ngFor="let warehouse of product.warehouses" (click)="onSelectWarehouse(warehouse.id)" size="small"
          [color]="(warehouse.id === selectedWarehouseId) ? 'secondary' : 'light'" class="rounded ion-margin-end">
          {{warehouse.name}}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col size=8 class="product-amount title">
        <ion-text color="dark">
          <p>选择购买数量</p>
        </ion-text>
      </ion-col>
      <ion-col size=4 class="product-amount">
        <ion-icon name="remove" size="medium"></ion-icon>
        <ion-input text-center></ion-input>
        <ion-icon name="add"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col class="footer addcart" size=6 (click)="onAddToCart()">
        <ion-text color="light">加入购物车</ion-text>
      </ion-col>
      <ion-col class="footer buynow" size=6>
        <ion-text color="light">立即购买</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>