ion-toolbar {
  --border-width: 0;
  --background: rgba(var(--ion-color-dark-rgb), 0);
}

ion-content {
  --offset-top: 0;
  --padding-top: 0;
  //   --background: url("/assets/images/profile-bg.png")
  //     var(--ion-content-background) top/100% no-repeat fixed;
}

ion-item {
  --background: transparent;
  h2 {
    color: var(--ion-color-light);
  }
}
ion-grid.main {
  padding-top: calc(var(--ion-safe-area-top) + 44px);
  padding-left: var(--ion-safe-area-left);
  padding-right: var(--ion-safe-area-right);
  padding-bottom: var(--ion-safe-area-bottom);
  background: url("/assets/images/profile-bg.png") var(--ion-content-background)
    top left/100% no-repeat;
}

ion-col {
  //   border: 1px solid green;
}

ion-card {
  --background: #ffffff;
  margin-top: 0;
  ion-card-content {
    padding: 0;
  }
}
