ion-toolbar {
  --border-width: 0;
  --background: rgba(var(--ion-color-dark-rgb), 0);
}

ion-content {
  --offset-top: 0;
  --padding-top: 0;
  //   --background: url("/assets/images/profile-bg.png")
  //     var(--ion-content-background) top/100% no-repeat fixed;
}

ion-item.profile {
  --background: transparent;
  h2 {
    color: var(--ion-color-light);
  }
}
ion-grid.main {
  padding-top: calc(var(--ion-safe-area-top) + 44px);
  padding-left: var(--ion-safe-area-left);
  padding-right: var(--ion-safe-area-right);
  padding-bottom: var(--ion-safe-area-bottom);
  background: url("/assets/images/profile-bg.png") var(--ion-content-background)
    top left/100% no-repeat;
}

ion-card {
  &.vip {
    ion-card-content {
      .activity {
        background: linear-gradient(
          -80deg,
          rgba(211, 175, 113, 1) 0%,
          rgba(237, 211, 160, 1) 100%
        );
      }
    }
  }
  &.sign {
    ion-card-content {
      .activity {
        background: linear-gradient(
          -80deg,
          rgba(255, 175, 189, 1) 0%,
          rgba(255, 195, 160, 1) 100%
        );
      }
    }
  }
  --background: #ffffff;
  margin-top: 0;
  ion-card-content {
    padding: 0;
    .activity {
      border-radius: 8px;
      ion-button {
        --padding-top: 0;
        height: 2em;
        --border-radius: 1em;
        --background: #ffffff;
        --color: var(--ion-color-medium);
      }
      h1 {
        margin: 0;
        color: #222222;
      }
      h4 {
        color: #666666;
      }
    }
  }
}
