<!-- <ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="settings" slot="icon-only" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content fullscreen="true">
  <ion-grid class="ion-no-padding main">
    <ion-row>
      <ion-col class="settings">
        <ion-icon name="settings" color="light" *ngIf="user" [routerLink]="['/tabs/profile/settings']"></ion-icon>
        <ion-icon name="settings" color="light" *ngIf="!user"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="profile ion-margin-bottom" lines="none">
          <ion-avatar slot="start">
            <ion-img [src]="user&&user.headPortrait?user.headPortrait:'.././../assets/images/avatar.png'">
            </ion-img>
          </ion-avatar>
          <ion-label>
            <h2 *ngIf="!user" [routerLink]="['/auth/login']">登录/注册</h2>
            <h2 *ngIf="user">{{user.nickName}}</h2>
            <!-- <ion-badge color="primary">注册用户</ion-badge> -->
          </ion-label>
        </ion-item>
        <div class="custom-card">
          <!-- <div class="custom-card"> -->
          <ion-item detail lines="full" [routerLink]="['/orders']">
            <ion-label>
              <h3>我的订单</h3>
            </ion-label>
          </ion-item>

          <div class="custom-card-content">
            <!-- <div class="custom-card-content"> -->
            <ion-grid>
              <ion-row class="ion-padding">
                <ion-col size=3>
                  <ion-tab-button [routerLink]="['/orders']" [queryParams]="{slideId: 1}">
                    <ion-icon src="../../assets/icon/wallet.svg" color="primary"></ion-icon>
                    <ion-label>待付款</ion-label>
                    <ion-badge *ngIf="collectionOfOrdersToPay && collectionOfOrdersToPay.totalElements">
                      {{collectionOfOrdersToPay.totalElements}}</ion-badge>
                  </ion-tab-button>
                </ion-col>
                <ion-col size=3>
                  <ion-tab-button [routerLink]="['/orders']" [queryParams]="{slideId: 2}">
                    <ion-icon src="../../assets/icon/shipping.svg" color="primary"></ion-icon>
                    <ion-label>待发货</ion-label>
                    <ion-badge *ngIf="collectionOfOrdersPaid && collectionOfOrdersPaid.totalElements">
                      {{collectionOfOrdersPaid.totalElements}}</ion-badge>
                  </ion-tab-button>
                </ion-col>
                <ion-col size=3>
                  <ion-tab-button [routerLink]="['/orders']" [queryParams]="{slideId: 3}">
                    <ion-icon src="../../assets/icon/receiving.svg" color="primary"></ion-icon>
                    <ion-label>待收货</ion-label>
                    <ion-badge *ngIf="collectionOfOrdersShipped && collectionOfOrdersShipped.totalElements">
                      {{collectionOfOrdersShipped.totalElements}}</ion-badge>
                  </ion-tab-button>
                </ion-col>
                <ion-col size=3>
                  <ion-tab-button [routerLink]="['/orders']" [queryParams]="{slideId: 4}">
                    <ion-icon src="../../assets/icon/done.svg" color="primary"></ion-icon>
                    <ion-label>已完成</ion-label>
                    <ion-badge *ngIf="collectionOfOrdersDone && collectionOfOrdersDone.totalElements">
                      {{collectionOfOrdersDone.totalElements}}</ion-badge>
                  </ion-tab-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
        <div class="custom-card vip">
          <ion-item detail lines="full">
            <ion-label>
              <h3>特惠直升</h3>
            </ion-label>
          </ion-item>

          <div class="custom-card-content">
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col class="activity ion-margin ion-padding-top ion-padding-start ion-padding-bottom">
                  <h5 class="ion-no-margin"><small>VIP会员</small></h5>
                  <h6>全场购物享约85折</h6>
                  <ion-button class="ion-margin-top" size="small">立即开通</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
        <div class="custom-card sign">
          <ion-item detail lines="full" (click)="onClockin()">
            <ion-label>
              <h3>打卡达人</h3>
            </ion-label>
          </ion-item>

          <div class="custom-card-content">
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col class="activity ion-margin ion-padding-top ion-padding-start ion-padding-bottom">
                  <h5 class="ion-no-margin"><small>全民打卡挑战</small></h5>
                  <h6>签到打卡乐享好礼</h6>
                  <ion-button class="ion-margin-top" size="small" (click)="onClockin()">去打卡</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
        <div class="custom-card">
          <ion-item detail lines="full">
            <ion-label>
              <h3>我的应用</h3>
            </ion-label>
          </ion-item>

          <div class="custom-card-content">
            <ion-grid>
              <ion-row class="ion-padding">
                <ion-col size=3>
                  <ion-tab-button [routerLink]="['/tabs/profile/settings/change-referral-code']">
                    <ion-icon src="../../assets/icon/coupon.svg" color="primary"></ion-icon>
                    <ion-label>优惠码</ion-label>
                    <!-- <ion-badge>6</ion-badge> -->
                  </ion-tab-button>
                </ion-col>
                <ion-col size=3>
                  <ion-tab-button [routerLink]="['/address']">
                    <ion-icon src="../../assets/icon/address.svg" color="primary"></ion-icon>
                    <ion-label>地址管理</ion-label>
                    <!-- <ion-badge>6</ion-badge> -->
                  </ion-tab-button>
                </ion-col>
                <ion-col size=3>
                  <ion-tab-button>
                    <ion-icon src="../../assets/icon/money.svg" color="primary"></ion-icon>
                    <ion-label>财务管理</ion-label>
                    <!-- <ion-badge>6</ion-badge> -->
                  </ion-tab-button>
                </ion-col>
                <ion-col size=3>
                  <ion-tab-button>
                    <ion-icon src="../../assets/icon/level.svg" color="primary"></ion-icon>
                    <ion-label>我的等级</ion-label>
                    <!-- <ion-badge>6</ion-badge> -->
                  </ion-tab-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>