<ion-header no-border>
  <ion-toolbar>
    <!-- <ion-title>我的</ion-title> -->
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="settings" slot="icon-only" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-grid class="ion-no-padding main">
    <ion-row>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="profile ion-margin-bottom" lines="none">
          <ion-thumbnail slot="start">
            <ion-img [src]="'/assets/images/avatar.png'"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2 [routerLink]="['/auth/login']">登录/注册</h2>
            <!-- <ion-badge color="primary">注册用户</ion-badge> -->
          </ion-label>
        </ion-item>
        <ion-card>
          <ion-item detail lines="full">
            <ion-label>
              <h3>我的订单</h3>
            </ion-label>
          </ion-item>

          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size=3>
                  <ion-tab-button>
                    <ion-icon name="card" color="primary"></ion-icon>
                    <ion-label>待付款</ion-label>
                    <!-- <ion-badge>6</ion-badge> -->
                  </ion-tab-button>
                </ion-col>
                <ion-col size=3>
                  <ion-tab-button>
                    <ion-icon name="log-out" color="primary"></ion-icon>
                    <ion-label>待发货</ion-label>
                    <ion-badge>6</ion-badge>
                  </ion-tab-button>
                </ion-col>
                <ion-col size=3>
                  <ion-tab-button>
                    <ion-icon name="airplane" color="primary"></ion-icon>
                    <ion-label>待收货</ion-label>
                    <!-- <ion-badge>6</ion-badge> -->
                  </ion-tab-button>
                </ion-col>
                <ion-col size=3>
                  <ion-tab-button>
                    <ion-icon name="checkmark-circle-outline" color="primary"></ion-icon>
                    <ion-label>已完成</ion-label>
                    <!-- <ion-badge>6</ion-badge> -->
                  </ion-tab-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
        <ion-card class="vip">
          <ion-item detail lines="full">
            <ion-label>
              <h3>特惠直升</h3>
            </ion-label>
          </ion-item>

          <ion-card-content>
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col class="activity ion-margin ion-padding-top ion-padding-start ion-padding-bottom">
                  <h1 class="ion-no-margin"><small>VIP会员</small></h1>
                  <h4>全场购物享约85折</h4>
                  <ion-button class="ion-margin-top" size="small">立即开通</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
        <ion-card class="sign">
          <ion-item detail lines="full">
            <ion-label>
              <h3>打卡达人</h3>
            </ion-label>
          </ion-item>

          <ion-card-content>
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col class="activity ion-margin ion-padding-top ion-padding-start ion-padding-bottom">
                  <h1 class="ion-no-margin"><small>全民打卡挑战</small></h1>
                  <h4>签到打卡乐享好礼</h4>
                  <ion-button class="ion-margin-top" size="small">去打卡</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-item detail lines="full">
            <ion-label>
              <h3>我的应用</h3>
            </ion-label>
          </ion-item>

          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size=3>
                  <ion-tab-button>
                    <ion-icon name="keypad" color="primary"></ion-icon>
                    <ion-label>邀请好友</ion-label>
                    <!-- <ion-badge>6</ion-badge> -->
                  </ion-tab-button>
                </ion-col>
                <ion-col size=3>
                  <ion-tab-button>
                    <ion-icon name="pin" color="primary"></ion-icon>
                    <ion-label>地址管理</ion-label>
                    <!-- <ion-badge>6</ion-badge> -->
                  </ion-tab-button>
                </ion-col>
                <ion-col size=3>
                  <ion-tab-button>
                    <ion-icon name="card" color="primary"></ion-icon>
                    <ion-label>财务管理</ion-label>
                    <!-- <ion-badge>6</ion-badge> -->
                  </ion-tab-button>
                </ion-col>
                <ion-col size=3>
                  <!-- <ion-tab-button tab="schedule">
                        <ion-icon name="calendar"></ion-icon>
                        <ion-label>待发货</ion-label>
                        <ion-badge>6</ion-badge>
                      </ion-tab-button> -->
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>