<ion-header>
  <ion-toolbar>
    <ion-title>订单详情</ion-title>
    <ion-buttons slot="start">
      <ion-button color="medium" [routerLink]="['/orders']" routerDirection="back">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="order-state">
    <ion-icon name="time" class="ion-margin-end"></ion-icon>
    <ion-text *ngIf="order">
      <h6>{{OrderStatus[order.orderStatus]}}</h6>
    </ion-text>
  </div>
  <div class="custom-card">
    <div class="custom-card-content">
      <ion-grid>
        <ion-row *ngIf="orderLogistics && orderLogistics.status==='SHIPPED'">
          <ion-col class="order-address light-border-bottom">
            <div class="address-icon medium ion-margin-start">
              <ion-icon src="../../../assets/icon/receiving.svg" color="light">
              </ion-icon>
            </div>
            <div class="address-wrapper ion-padding">
              <div class="address-name ion-margin-bottom">
                <ion-text color="dark">
                  <h6>物流公司：{{orderLogistics.companyName}}</h6>
                </ion-text>
                <ion-text color="dark" class="phone ion-margin-start">
                  <h6></h6>
                </ion-text>
              </div>
              <div>
                <ion-text color="dark">
                  <p>物流单号： {{orderLogistics.shippingCode}}</p>
                  <!-- <p>{{addr.addressName | addressDisplay}}{{addr.detailedAddress}}</p> -->
                </ion-text>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="shippingAddress">
          <ion-col class="order-address">
            <div class="address-icon ion-margin-start">
              <ion-icon src="../../../assets/icon/address.svg" color="light">
              </ion-icon>
            </div>
            <div class="address-wrapper ion-padding">
              <div class="address-name ion-margin-bottom">
                <ion-text color="dark">
                  <h6>{{shippingAddress.receiverName}}</h6>
                </ion-text>
                <ion-text color="dark" class="phone ion-margin-start">
                  <h6>{{shippingAddress.receiverMobile | hidePhoneNumber}}</h6>
                </ion-text>
              </div>
              <div>
                <ion-text color="dark">
                  <p>{{shippingAddress.addressName | addressDisplay}}{{shippingAddress.detailedAddress}}</p>
                </ion-text>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <ion-grid class="ion-margin-top ion-padding-horizontal total" *ngIf="order">
    <ion-row class="ion-padding-vertical ion-margin-horizontal">
      <ion-col>
        <ion-list>
          <ion-item class="product" detail="false" *ngFor="let item of order.items; index as i">
            <div slot="start" class="ion-margin-end product-image">
              <img class="thumbnail" [src]="item.headImg+'?x-oss-process=image/resize,m_fill,h_108,w_108'">
            </div>
            <ion-grid>
              <ion-row>
                <ion-col class="ion-padding-top ion-padding-bottom product-block">
                  <div class="box-2lines-ellipsis">
                    <div>
                      <article>{{item.title}}</article>
                    </div>
                  </div>
                  <div class="ion-padding-top ion-padding-bottom">
                    <ion-text color="medium">
                      <p>{{item.specification.name}}/{{item.warehouse.name}}</p>
                    </ion-text>
                  </div>
                  <div class="product-price-amount-wrapper">
                    <div class="product-price">
                      <ion-text color="primary">
                        <h5>{{item.actuallyGoodsPrice | currency: 'CNY':'symbol-narrow'}}</h5>
                      </ion-text>
                    </div>
                    <div class="product-amount">
                      <ion-text>
                        <p>x{{item.num}}</p>
                      </ion-text>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-horizontal">
      <ion-col class="ion-padding-vertical">
        <ion-text>
          <h6>商品总额</h6>
        </ion-text>
      </ion-col>
      <ion-col class="ion-padding-vertical" text-right>
        <ion-text>
          <h6>{{order.actuallyGoodsPrice | currency: 'CNY':'symbol-narrow'}}</h6>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-horizontal">
      <ion-col class="ion-padding-vertical">
        <ion-text>
          <h6>运费</h6>
        </ion-text>
      </ion-col>
      <ion-col class="ion-padding-vertical" text-right>
        <ion-text>
          <h6>{{order.totalFreight | currency: 'CNY':'symbol-narrow'}}</h6>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-horizontal">
      <ion-col class="ion-padding-vertical">
        <ion-text>
          <h6>税费</h6>
        </ion-text>
      </ion-col>
      <ion-col class="ion-padding-vertical" text-right>
        <ion-text>
          <h6>{{order.totalTax | currency: 'CNY':'symbol-narrow'}}</h6>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-horizontal ion-padding-bottom">
      <ion-col class="ion-padding-vertical">
        <ion-text>
          <h6>实付款</h6>
        </ion-text>
      </ion-col>
      <ion-col class="ion-padding-vertical" text-right>
        <ion-text>
          <h6>{{order.actuallyPaid | currency: 'CNY':'symbol-narrow'}}</h6>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-margin-top ion-padding-horizontal total" *ngIf="order">
    <ion-row class="ion-padding-vertical ion-margin-horizontal">
      <ion-col class="ion-padding-vertical">
        <ion-text>
          <h5 class="detail-title ion-padding-start">订单详情</h5>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-horizontal">
      <ion-col class="ion-padding-vertical">
        <ion-text>
          <h6>订单编号：{{order.orderId}}</h6>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-horizontal">
      <ion-col class="ion-padding-vertical">
        <ion-text>
          <h6>下单时间：{{order.createTime}}</h6>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-horizontal ion-padding-bottom">
      <ion-col class="ion-padding-vertical">
        <ion-text>
          <h6>支付方式：微信支付</h6>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-button color="medium" fill="outline" class="rounded" size="small"
    *ngIf="order && showOrderSecondaryButton(OrderStatus[order.orderStatus])"
    (click)="onOrderSecondaryButtonClick(OrderStatus[order.orderStatus],order.orderId)">
    {{getOrderSecondaryButtonText(OrderStatus[order.orderStatus])}}
  </ion-button>
  <ion-button color="primary" fill="outline" class="rounded ion-margin-start" size="small"
    *ngIf="order && showOrderPrimaryButton(OrderStatus[order.orderStatus])"
    (click)="onOrderPrimaryButtonClick(OrderStatus[order.orderStatus],order.orderId)">
    {{getOrderPrimaryButtonText(OrderStatus[order.orderStatus])}}</ion-button>
</ion-footer>