// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// body {
//   position: static;
// }

a {
  text-decoration: none;
}

ion-skeleton-text {
  margin: 0;
  line-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  line-height: 100%;
  .deleted {
    text-decoration: line-through;
  }
}

h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}

p {
  margin: 0;
  font-size: 14px;
}

.detail-title {
  border-left: 5px solid var(--ion-color-primary);
}

.sc-ion-input-ios-h,
ion-input {
  --placeholder-color: var(--ion-color-medium);
}

.picker-columns.sc-ion-picker-ios {
  // justify-content: flex-start;
  display: inline-block;
}
.picker-col {
  float: left;
  width: 30%;
  // flex: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.my-column {
  .picker-opt {
    color: var(--ion-color-dark);
    // font-size: 12px;
    padding: 0 20px;
  }
}

.chosen {
  background-color: var(--ion-color-primary);
  color: #fff;
}

.light-border-bottom {
  border-bottom: 1px solid var(--ion-color-light);
}

// custom card

.custom-card {
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  .custom-card-content {
    // padding: 0 var(--ion-padding);
    background: #ffffff;
  }
}

// custom radios
.custom-radios {
  div {
    display: flex;
    width: 20px;
    height: 20px;
  }

  input[type="checkbox"] {
    display: none;

    + label {
      width: 100%;
      height: 100%;
      span {
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0;
        cursor: pointer;
        border-radius: 50%;
        padding: 20%;
        border: 1px solid var(--ion-color-medium);
        text-align: center;
        line-height: 100%;
        div {
          background: url("./assets/icon/check-icn.svg") top left no-repeat;
          background-size: cover;
          width: 100%;
          height: 100%;
        }
        img {
          opacity: 0;
          transition: all 0.3s ease;
          width: 100%;
          height: 100%;
        }
      }
    }
    &:checked {
      &.primary + label span {
        background-color: var(--ion-color-primary);
      }
      &.secondary + label span {
        background-color: var(--ion-color-secondary);
      }
      &.medium + label span {
        background-color: var(--ion-color-medium);
      }
      &.dark + label span {
        background-color: var(--ion-color-dark);
      }
      + label span {
        border: none;
        img {
          opacity: 1;
        }
      }
    }
  }
}

ion-button {
  &.rounded {
    --padding-top: 0;
    height: 2em;
    --border-radius: 1em;
    --background: #ffffff;
    --color: var(--ion-color-medium);
  }
}

.swiper-pagination-bullet-active {
  width: 40px;
  border-radius: 4px;
}

ion-modal.auto-height {
  &.bottom {
    align-items: flex-end;
  }

  --height: auto;

  .ion-page {
    position: relative;
    display: block;
    contain: content;

    .inner-content {
      max-height: 80vh;
      overflow: auto;
    }
  }
}

@mixin multiline-ellipsis(
  $lines,
  $lineHeight: 1.4,
  $ellipsisWidth: 3em,
  $bgColor: white
) {
  box-sizing: content-box;
  overflow: hidden;
  height: $lines * $lineHeight * 1em;
  line-height: $lineHeight;

  &:before {
    content: "";
    float: left;
    width: 5px;
    height: $lines * $lineHeight * 1em;
  }

  & > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
  }

  &:after {
    content: "\02026";
    float: right;
    position: relative;
    top: -$lineHeight * 1em;
    left: 100%;
    box-sizing: content-box !important;
    width: $ellipsisWidth;
    margin-left: -$ellipsisWidth;
    padding-right: 5px;

    text-align: right;
    background: white;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(255, 255, 255, 0)),
      to($bgColor),
      color-stop(50%, $bgColor)
    );
    background: -moz-linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      $bgColor 50%,
      $bgColor
    );
    background: -o-linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      $bgColor 50%,
      $bgColor
    );
    background: -ms-linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      $bgColor 50%,
      $bgColor
    );
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      $bgColor 50%,
      $bgColor
    );
  }
}

.box-2lines-ellipsis {
  @include multiline-ellipsis(2);
}

#demo_box {
  line-height: 1.4;
}
