<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="medium"></ion-back-button>
    </ion-buttons>
    <ion-title>{{referralInfo?'绑定推荐人':'无优惠码'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll="false">
  <form [formGroup]="form">
    <ion-grid class="ion-padding">
      <ion-row *ngIf="!referralInfo">
        <ion-col>
          <ion-label>若您还没有优惠码，请在注册后“个人中心”优惠码中进行修改。只有一次修改优惠码的机会，请谨慎操作。</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="referralInfo">
        <ion-col size="12" class="ion-no-padding">
          <ion-item lines="full">
            <ion-label slot="start">
              <ion-text>推荐人姓名</ion-text>
            </ion-label>
            <ion-label text-right>
              <ion-text>{{referralInfo.userName}}</ion-text>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="referralInfo">
        <ion-col size="12" class="ion-no-padding">
          <ion-item lines="full">
            <ion-label slot="start">
              <ion-text>推荐人手机号</ion-text>
            </ion-label>
            <ion-label text-right>
              <ion-text>{{referralInfo.userAccount | hidePhoneNumber}}</ion-text>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-padding-vertical">
          <ion-button expand="block" [routerLink]="['/auth/register/referral']" routerDirection="back">上一步</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-padding-bottom">
          <ion-button expand="block" (click)="onRegister()">立即注册</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>