<ion-header no-border>
  <ion-toolbar [appIonicProperty]="toolbarIonicProperties" [ngStyle]="{'opacity': toolBarOpacity}">
    <ion-label slot="start" color="dark" class="ion-padding-start">
      <h1>LOGO</h1>
    </ion-label>
    <ion-searchbar placeholder="输入你正在找的宝贝" searchIcon="../../assets/icon/search.svg"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content #scrollable forceOverscroll="false" fullscreen="true" [scrollEvents]="scrollEvents"
  (ionScroll)="onScroll($event)" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)"
  (touchend)="onTouchEnd($event)">

  <ion-refresher pullFactor="0.5" closeDuration="200ms" snapbackDuration="50ms" pullMax="400"
    (ionStart)="onRefreshStart($event)" (ionPull)="onRefreshPull($event)" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let banner of banners">
      <img [src]="banner.ossPath+'?x-oss-process=image/resize,m_fill,h_270,w_480'">
    </ion-slide>
  </ion-slides>

  <ion-grid class="ion-no-padding">
    <ion-row class="brand ion-padding-start ion-padding-end">
      <ion-col size=4 class="ion-padding-top ion-padding-bottom">
        <div class="container">
          <ion-icon src="../../assets/icon/brand.svg" color="primary" class="ion-margin-end"></ion-icon>
          <ion-text color="primary">品牌直供</ion-text>
        </div>
      </ion-col>
      <ion-col size=4>
        <div class="container">
          <ion-icon src="../../assets/icon/granted.svg" color="primary" class="ion-margin-end"></ion-icon>
          <ion-text color="primary">独家授权</ion-text>
        </div>
      </ion-col>
      <ion-col size=4>
        <div class="container">
          <ion-icon src="../../assets/icon/genuine.svg" color="primary" class="ion-margin-end"></ion-icon>
          <ion-text color="primary">正品保证</ion-text>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="headline-row">
      <ion-col>
        <ion-card class="ion-margin headline headline-1">
          <ion-card-content class="ion-padding">
            <h2 class="ion-no-margin">甄选新品</h2>
            <h2 class="ion-no-margin">尝鲜五月</h2>
            <ion-button size="small">防晒低至满99减20</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="headline-row">
      <ion-col size=5 class="padding-bottom">
        <ion-card class="ion-margin headline headline-2" style="height: 100%">
          <ion-card-content class="ion-padding">
            <h4 class="ion-no-margin">最新到货</h4>
            <h6 class="ion-no-margin">组合优惠更划算</h6>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size=7>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card class="ion-margin headline headline-3 no-margin-start">
                <ion-card-content class="ion-padding">
                  <h4 class="ion-no-margin">面膜狂欢</h4>
                  <h6 class="ion-no-margin">为你的美丽负责</h6>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size=6>
              <ion-card class="ion-margin headline headline-4 no-margin-start">
                <ion-card-content class="ion-padding">
                  <h4 class="ion-no-margin">商城精选</h4>
                  <h6 class="ion-no-margin">大牌好货</h6>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size=6>
              <ion-card class="ion-margin headline headline-5 no-margin-start">
                <ion-card-content class="ion-padding">
                  <h4 class="ion-no-margin">商城精选</h4>
                  <h6 class="ion-no-margin">大牌好货</h6>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img [src]="'../../assets/images/festival.png'"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-icon src="../../assets/icon/crown.svg" slot="start" color="primary"></ion-icon>
          <ion-label color="dark">
            <h3>每日畅销榜单</h3>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding-bottom ion-padding-start ion-padding-end">
        <ion-img [src]="'../../assets/images/list.png'"></ion-img>
      </ion-col>
    </ion-row>

    <!-- products -->

    <ion-row>
      <ion-col class="ion-no-padding ion-padding-start ion-padding-end">
        <ion-list>
          <ion-item lines="full" class="product" *ngFor="let product of products">
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col size=4 class="ion-no-padding ion-padding-end ion-padding-top ion-padding-bottom">
                  <ion-img [src]="product.headImg+'?x-oss-process=image/resize,m_fill,h_150,w_150'"></ion-img>
                </ion-col>
                <ion-col size=8 class="ion-no-padding ion-padding-top ion-padding-bottom">
                  <ion-label text-wrap>
                    <div class="box-2lines-ellipsis">
                      <div>
                        <article>{{product.name}}</article>
                      </div>
                    </div>
                    <div class="ion-padding-top ion-padding-bottom">
                      <ion-badge *ngFor="let tag of product.tagsView" color="secondary" class="ion-margin-end">{{tag}}
                      </ion-badge>
                    </div>
                    <ion-text color="primary">
                      <h2>{{product.price | currency: 'CNY':'symbol-narrow'}}</h2>
                    </ion-text>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="正在加载更多...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>