ion-toolbar {
  --border-width: 0;
  //   --background: rgba(var(--ion-color-dark-rgb), 0.7);
}
ion-content {
  --offset-bottom: 0;
  --padding-top: 0;
}
ion-searchbar {
  --background: rgba(var(--ion-color-light-rgb), 1);
  --icon-color: rgba(var(--ion-color-dark-rgb), 1);
}
ion-refresher {
  top: -68px;
}

ion-row {
  &.brand {
    div.container {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      ion-icon {
        --ion-margin: 5px;
      }
      // font-size: 0.9rem;
    }
  }

  &.headline-row {
    --ion-margin: 10px;
    --ion-padding: 10px;
    margin: 0;
    padding: 0;
    ion-grid,
    ion-row,
    ion-col {
      &.padding-bottom {
        padding-bottom: var(--ion-padding);
      }
      margin: 0;
      padding: 0;
    }
  }
}

ion-col {
  // border: 1px solid green;
}

ion-card {
  &.headline {
    margin-top: 0;
    background: #d7f3ff;
    h1 {
      margin: 0;
      color: #547691;
    }
    h4 {
      font-size: 0.8em;
    }
    h6 {
      font-size: 0.6em;
      margin-bottom: 3em;
    }
  }
  &.no-margin-start {
    margin-inline-start: 0;
    -webkit-margin-start: 0;
  }
  ion-button {
    --padding-top: 0;
    height: 2em;
    --border-radius: 1em;
    --background: #ffffff;
    --color: var(--ion-color-medium);
  }
}
