<ion-header no-border>
  <ion-toolbar [appIonicProperty]="toolbarIonicProperties" [ngStyle]="{'opacity': toolBarOpacity}">
    <ion-searchbar placeholder="输入你正在找的宝贝"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content #scrollable forceOverscroll="false"  fullscreen="true" [scrollEvents]="scrollEvents" (ionScroll)="onScroll($event)"
  (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd()">

  <ion-refresher closeDuration="200ms" snapbackDuration="50ms" pullMax="400" (ionStart)="onRefreshStart($event)" (ionPull)="onRefreshPull($event)"
    (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-img src='/assets/images/Blasket Islands, Ireland 1920x1080.jpg'></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src='/assets/images/Blyde River Canyon 1920x1080.jpg'></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src='/assets/images/Nan Province, Thailand 1920x1080.jpg'></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src='/assets/images/Numa Falls, Canada 1920x1080.jpg'></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src='/assets/images/Sisteron, France 1920x1080.jpg'></ion-img>
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <!-- <ion-row>
        <ion-col text-center>
          <ion-card routerDirection="forward" [routerLink]="['/places/tabs/discover',featuredPlace.id]">
            <ion-card-header>
              <ion-card-title>{{featuredPlace.title}}</ion-card-title>
              <ion-card-subtitle>{{featuredPlace.price | currency }} 每晚</ion-card-subtitle>
            </ion-card-header>
            <ion-img [src]="featuredPlace.imageUrl"></ion-img>
            <ion-card-content>
              <p>{{featuredPlace.description}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row> -->
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item detail *ngFor="let product of products">
            <ion-thumbnail slot="start">
              <ion-img [src]="product.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{product.title}}</h2>
              <p>{{product.description}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="正在加载更多...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>