ion-toolbar {
  --border-width: 0;
  //   --background: rgba(var(--ion-color-dark-rgb), 0.7);
}
ion-content {
  --offset-bottom: 0;
  --padding-top: 0;
}
ion-searchbar {
  --background: rgba(var(--ion-color-light-rgb), 1);
  --icon-color: rgba(var(--ion-color-dark-rgb), 1);
}
ion-refresher {
  top: -68px;
}
